.find-lights {
  @keyframes flickerAnimation {
    0% {
      color: rgba(51, 51 ,51, 0.5);
      fill: currentColor;
    }
    50% {
      color: rgb(189, 96, 250);
      fill: currentColor;
    }
    100% {
      color: rgba(51, 51, 51, 0.5);
      fill: currentColor;
    }
  }

  .location-near {
    font-size: 0.8rem;
    color: $med-gray;
    margin: 0 0 15px;

    .svg-inline--fa {
      animation: flickerAnimation 3s infinite;
      font-size: 0.8rem;
      margin-right: 5px;
    }
  }
}