.home {
  .hero {
    min-height: 250px;
    padding-top: 1rem;

    .logo {
      font-size: 3rem;
      color: #fff;
      text-align: center;
      text-shadow: 0 0 3px rgb(0, 0, 0);
    }

    a.btn {
      display: block;
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 70%;
    }
  }
}