body {
  padding-top: 56px;
}

.hero {
  position: relative;
  min-height: 80px;
  background: url('https://www.thefix.com/sites/default/files/styles/article/public/christmas%20lights.jpg') center 0 no-repeat;
  background-size: contain;
}

body:not(.home) {
  .hero {
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;

    h1 {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
      position: absolute;
      bottom: 0;
      text-align: center;
      display: block;
      width: 100%;
    }
  }
}